name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - name: Format
        run: cargo fmt --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - name: Run tests
        run: cargo test --verbose --locked

  build:
    needs: [lint, test]
    runs-on: ${{ matrix.host }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            host: ubuntu-latest
          - target: x86_64-unknown-linux-gnu
            host: ubuntu-latest
          - target: aarch64-apple-darwin
            use-cross: false
            host: macos-latest
          - target: x86_64-apple-darwin
            use-cross: false
            host: macos-latest
          - target: x86_64-pc-windows-gnu
            host: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          use-cross: ${{ matrix.use-cross }}
